*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 50px 10%;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.prodotto{
    width: 30%;
    height: auto;
    float: left;
}

.center{
    margin: 0 5%;
}

.box{
    position: relative;
}

.box img{
    width: 100%;
}

.picture-b{
    display: none;
}

.box:hover .picture{
    display: none;
}

.box:hover .picture-b{
    display: block;
}

.cuore{
    position: absolute;
    background-color: white;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    top: 5px;
    right: 0;
}

.sconto{
    position: absolute;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 0 5px;
    bottom: 30px;
    left: 0;
}

.type{
    position: absolute;
    background-color: limegreen;
    color: white;
    font-size: 20px;
    padding: 0 5px;
    bottom: 30px;
    left: 58px;
}

.descrizione{
    display: block;
}

.red{
    color: red;
}

.bgc-green{
    background-color: limegreen;
}

.type2{
    position: absolute;
    background-color: limegreen;
    color: white;
    font-size: 20px;
    padding: 0 5px;
    bottom: 30px;
    left: 0px;
}
